/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #ffffff;
}

/* Container for the app */
.app-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 20px;
  position: relative; /* Ensure content is above the background video */
  z-index: 2;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .proficiencies {
    flex-direction: column;
    align-items: center;
  }
}
